<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
          xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <title>Legado/grupos</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
       
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>            
        <link rel="stylesheet" type="text/css" th:href="@{resources/css/estilo.css}"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/css/bootstrapValidator.min.cs" rel="stylesheet">
        <!--javascript-->
        <link href="resources/css/bootstrap-datetimepicker.min.css" rel="stylesheet"> 
        <script src="webjars/jquery/jquery.js"></script>
    </head>
    
    <body>
  	<script th:inline="javascript">
  	/*[+
	  	$(function() {
                  
	  		$("#idCarrera").load('/ajax/facuCarrera', $("#idFacultad").serialize());
		  	$('#idFacultad').on('change', function() {
                               
		  		$("#idCarrera").load('/ajax/facuCarrera', $("#idFacultad").serialize());
		  	});
	  	});

	+]*/ 
	</script>
       <header>
            <div class="container-fluid">
                <img  class="logo_icono"src="resources/imagenes/logo_icono.png" > 
                <img  class="logo_nombre"src="resources/imagenes/logo_nombre.png" >
            </div>
        </header>
     
        <div style="height: 25px;">
        </div>
        
         <!--Form de ingreso de datos del grupo--> 
        <div class="container" style="top: 220px"  >
            <div class="panel center-block" style="width:50% ">
                <!--encabezado--> 
                <div class="panel-heading"> <h1>Crear Grupos</h1></div>               
                <!--<div class="form-group row">-->
                <div class="panel-body ">   
                    <form th:object="${institucion}" class="form-horizontal" method="post" action="agregar" role="form" id="formgrupo">                       
                        <div class="input-group col-md-12"> 
                            <input class="form-control"  type="text" id="nombreGrupo1" name="nombreGrupo" placeholder="Nombre del Grupo"/>
                        </div> 
                        <br>
                        <!--Facultades-->
                        <div class="input-group col-md-12">
                            <select th:field="*{idFacultad}" required="required" class="form-control show-tick"  >
                                <option th:each="facultad : ${facultades}" th:value="${facultad.id_facultad}" th:text="${facultad.nombre}" />
                            </select>
                        </div>
                        <br>
                        <!--Carreras-->
                        <div class="input-group col-md-12">
                            <select th:field="*{idCarrera}" required="required" class="form-control">
                                    <option th:fragment="carreras" th:each="carrera : ${carreras}" th:value="${carrera.id_carrera}" th:text="${carrera.nombre}" />
                            </select>
                        </div>    
                        <br>
                        <!--Asignatura-->    
                        <div class="input-group col-md-12">    
                            <select class="form-control show-tick" id="ComboBoxFacultades" name="facultadSeleccionada" onChange="onstatechange(this)">
                                <option th:each="facultad : ${facultades}" th:value="${facultad.id_facultad}" th:text="${facultad.nombre}"></option>   
                            </select> 
                        </div>
                        <br> 

                         <!--Agregar Carrera-->
<!--                        <div class="input-group">    
                            <select class="form-control col-md-12" id="ComboBoxCarrera" name="xarreraSeleccionada" onChange="onstatechange(this)">
                                <option value="-1">Seleccione la Carrera</option>
                                <option th:each="carrera : ${carreras}" th:value="${carrera.id_carrera}" th:text="${carrera.nombre}"></option>    
                            </select>
                            <div class="input-group-btn">
                                <a href="#ventana2"class="btn btn-primary" data-toggle="modal"><span class="glyphicon glyphicon-plus"></span></a>         
                            </div>
                        </div>
                        <br>
                        Agregar Asignatura
                       <div class="input-group">    
                           <select class="form-control col-md-12" id="ComboBoxAsignatura" name="asignaturaSeleccionada" onChange="onstatechange(this)">
                               <option value="-1">Seleccione la Asignatura</option>
                               <option th:each="materia : ${materias}" th:value="${materia.id_materia}" th:text="${materia.nombre}"></option>
                           </select>
                           <div class="input-group-btn">
                               <button class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></button>
                               <a href="#ventana3"class="btn btn-primary" data-toggle="modal"><span class="glyphicon glyphicon-plus"></span></a> 
                           </div>
                       </div>-->
                    
                        <!--Periodo Academico-->
                       <div class="input-group col-md-12" >    
                           <select class="form-control " id="ComboBoxAsignatura" name="periodoSeleccionado" onChange="onstatechange(this)">
                               <option value="-1">Seleccione el Período</option>
                               <option th:each="periodo : ${periodos}" th:value="${periodo.id_periodo}" th:text="${periodo.fechaInicio}" readonly></option>
                           </select>
                      </div>  
                        <br><br>
                        <!--pie del panel--> 
                        <div class="panel-footer">
                            <button type="submit" class="btn btn-primary" style="width: 200px;" id="btnAgregarGrupo"> <span class="glyphicon glyphicon-floppy-saved"></span> Agregar</button>                                      
                        </div> 
                    </form> 

    
<!--                        <form th:object="${institucion}" method="post">
                            <div class="form-group">
                                <label for="marca">Marca</label>
                                <select th:field="*{idFacultad}" required="required" class="form-control" >
                                        <option th:each="brand : ${brands}" th:value="${brand.id_carrera}" th:text="${brand.nombre}" />
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="modelo">Modelo</label>
                                <select th:field="*{idCarrera}" required="required" class="form-control">
                                        <option th:fragment="models" th:each="model : ${models}" th:value="${model}" th:text="${model}" />
                                </select>
                            </div>
                        </form>-->
                </div>                            
            </div>
        </div>
 
        
        <!--Boton listar-->
       
        <div class="container">
            <div class="col-md-12" >
                <div class=" container  center-block">
                    <a href="#ventanaListar"class="btn btn-primary" data-toggle="modal"><span class="glyphicon glyphicon-plus"></span>Listar Grupos</a>                         
                </div>
            </div>
        </div>    
        <!--//////////////////////////////////////////////////////////////////////////////////////////////////////-->    
            
        <!--ventana de listado de cursos-->
                <div class="modal fade" id="ventanaListar">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button tyle="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h3 class="modal-title">  Listado de Grupos </h3>               
                            </div>
                             <!--contenido de la ventana-->
                            <div class="modal-body"> 
                                <div class="input-group">
                                    <a href="#" class="list-group-item" th:each="listagrupos:${listagrupos}" th:value="${listagrupos}" th:text="${listagrupos}"></a>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <!--Pie de pagina-->
                                <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
                 
        <!--//////////////////////////////////////////////////////////////////////////////////////////////////////-->    
      
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/js/bootstrapValidator.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/js/language/es_ES.min.js"></script>        
    <script type="text/javascript" src="resources/js/validacion.js"></script>

    </body>
</html>